.emailList{
    width: 100%;
    height: 80vh;
    flex:1;
    overflow: hidden;
    margin-left: 20px;
    border: 1px solid #1F2A40;
    background-color: #1F2A40;
    
    ::-webkit-scrollbar{
        display: none;
    }
    .emailList_list{
        padding-bottom: 20%;
    }
    .emailList_settings{
        position: sticky;
        top: 0;
        display: flex ;
        justify-content: space-between;
        border-bottom: 1px solid whitesmoke;
        z-index: 999;
        padding-right: 10px;
        align-items: center;


        .emailList_sections{
            position: sticky;
            top: 0;
            display: flex ;
            border-bottom:1px solid whitesmoke;
            z-index: 999;
        }
    }
}